body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 219, 9);
    line-height: 1.6;
    margin: 15px;
    padding: 0;
    color: salmon;
}

header {
    background-color: rgb(220, 245, 220);
    margin: 0;
    color: cadetblue;
    padding: 20px ;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: cadetblue;
}

.layout-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto 1fr 1fr auto;
    margin-top: 0;
    margin-bottom: 30px;
    gap: 20px;
    padding: 20px;
    grid-template-areas:
        "header header header"
        "sidebar primer_contenido segundo_contenido"
        "sidebar tercer_contenido tercer_contenido"
        "footer footer footer";
}

/*Ajustar la ubicacion de todos los elementos del diseño usando los grid-area que les corresponda*/
.sidebar {
    grid-area: sidebar;
    background-color: aquamarine;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
}

.sidebar h2 {
    color: azure;
}

.primer_contenido {
    grid-area: primer_contenido;
}

.segundo_contenido {
    grid-area: segundo_contenido;
}

.tercer_contenido {
    grid-area: tercer_contenido;
}

.sidebar h2 {
    color: rgb(196, 116, 20);
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.sidebar ul li a {
    text-decoration: none;
    color: #f37474c5;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    color: #ffffff;
}

.primer_contenido, .segundo_contenido, .tercer_contenido {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    padding-top: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.904);
}

p {
    color: rgba(4, 27, 13, 0.685);
    font-size: 1.2em;
}

img {
    max-width: 100%;
    height: 250px;
    border-radius: 10px;
    display: block; 
    margin: 10px auto;
}

ul {
    list-style-type: georgian;
}

footer {
    background-color: rgba(37, 207, 230, 0.39);
    color: #14b0b6;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.correo {
    color: rgb(12, 75, 75);
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1; /*Hace que un elemento ocupe el espacio disponible*/
    min-width: 250px; /*Ancho minimo de la pagina*/
    background-color: rgba(91, 158, 160, 0.541);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
    margin: 5px;
}

@media (max-width: 768px) {
    .layout-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "sidebar"
            "primer_contenido"
            "segundo_contenido"
            "tercer_contenido"
            "footer";

    }
}